<!DOCTYPE html>
<html>
    <head>
        <title>Etteplan Work Test</title>
    </head>
    <body>
        <h2> Retrieve Value from XML File( sma_gentext.xml) for the specific id</h2>

        <form method="post" style="margin-top: 20px;">
        Enter Target ID: <input type="'text" name="target_id" style="width: 200px; padding: 5px;" pattern="[0-9]+"title="Please enter only numbers." placeholder="Enter only numbers Ex: 42006" required><br>
        
        <input type="submit" value="Submit" style="margin-top: 10px; padding: 5px 10px;background-color: #0066cc; color: #fff; border: none; cursor: pointer;">

        </form>

        {% if value %}
            <p>Target ID Value: {{value}}</p>
            <p>Target value Saved in file: {{filename}}</p>
            <p>Entered Target ID: {{id}}</p>

        {% endif %}
        
    </body>
</html>